@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
  background-image: url('./24768.jpg');
  background-size: cover;
  background-attachment: fixed;
}

main {
  color:white;
  font-weight: bold;
}


h2,p{
    color: burlywood;
    font-weight: bold;
}


form {
    display: flex;
    flex-direction: column;
    width: 35%;
    color: #ffffff;
  }
  
  #contact {
    font-size: 23px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
  
  }
  
  #contact h2 {
    font-size: 40px;
    color: #ffffff;
    margin: 3%;
  }
  
  .input-grp {
    margin-bottom: 30px;
    position: relative;
    text-align: center;
  }

  textarea,
  input {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
  }

  header nav ul {
    display: flex;
    gap : 15px;
    
  }

  header{

  padding: 3%;
  background-color: black;
  }

  header a {
    color: #fff;
  }

  .maClassSection{

    text-align: center;
    padding: 2%;
  }


  footer{
    background-color: black;
    text-align: center;
    padding: 2%;
    color: #ffffff;
    font-weight: bold;
  }